<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="master">
<head>
<meta charset="UTF-8"></meta>
<title>Add New Trip</title>
</head>
<body>

	<section class="content-header" layout:fragment="header">
		<h1>
			Trip <small>Management panel</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">Dashboard</li>
		</ol>
	</section>
	<section class="content" layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title pull-right">Add New Trip</h3>
						<a th:href="@{/admin/trips}" class="btn btn-primary"><i
							class="fa fa-arrow-left"></i> Back</a>
					</div>
					<form th:object="${newTrip}" th:action="@{/admin/trips/add}"
						method="POST">
						<div class="box-body">
							<div class="form-group">
								<label for="tripCode">Trip Code</label> <input type="text"
									class="form-control" id="tripCode"
									placeholder="Enter Trip Code" th:field="*{tripCode}" />
									<label th:errors="*{tripCode}" class="text-danger"></label>
							</div>
							<div class="form-group">
								<label for="depDate">Dep Date</label> <input type="date"
									class="form-control" id="depDate"
									placeholder="Enter Deperture Date" th:field="*{depDate}" />
									<label th:errors="*{depDate}" class="text-danger"></label>
							</div>
							<div class="form-group">
								<label for="depTime">Dep Time</label> <input type="time"
									class="form-control" id="depTime"
									placeholder="Enter Deperture time" th:field="*{depTime}" />
									<label th:errors="*{depTime}" class="text-danger"></label>
							</div>
							<div class="form-group">
								<label for="estTime">Est Time</label> <input type="text"
									class="form-control" id="estTime" placeholder="Enter Est time"
									th:field="*{estTime}" />
									<label th:errors="*{estTime}" class="text-danger"></label>
							</div>
							<div class="form-group">
								<label for="unitPrice">Unit Price </label> <input type="text"
									class="form-control" id="unitPrice" placeholder="Enter Price "
									th:field="*{unitPrice}" />
									<label th:errors="*{unitPrice}" class="text-danger"></label>
							</div>
							<div class="form-group">
								<label for="busId">Bus Id</label> <select id="busId"
									class="form-control" th:field="*{busId}">
									<option value="-1">Select Bus Id</option>
									<option th:each="bus : ${allBus}" th:value="${bus.id}"
										th:text="${bus.busCode}">
                                </option>
								</select>
							</div>
							<div class="form-group">
								<label for="stationId">Station Id</label> <select id="stationId"
									class="form-control" th:field="*{stationId}">
									<option value="-1">Select Station Id</option>
									<option th:each="station : ${allStation}"
										th:value="${station.id}" th:text="${station.name}">
                                </option>
								</select>
							</div>
							<div class="form-group">
								<label for="cityList">Source</label> <select id="cityList"
									class="form-control" th:field="*{source}">
									<option value="-1">Select Source</option>
									<option th:each="cities : ${allcities}" th:value="${cities}"
										th:text="${cities}">
                                </option>
								</select>
							</div>



							<div class="form-group">
								<label for="cityList1">Destination</label> <select id="cityList1"
									class="form-control" th:field="*{destination}">
									<option value="-1">Select Destination</option>
									<option th:each="cities : ${allcities}" th:value="${cities}"
										th:text="${cities}">
                                </option>
								</select>
							</div>

						</div>
						<!-- /.box-body -->

						<div class="box-footer">
							<input class="btn btn-primary" type="submit" value="Create New" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>