<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="master" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
    <meta charset="UTF-8"/>
    <title>Root Admin</title>
</head>
<body>

<section class="content-header" layout:fragment="header">
    <h1>
        Root Admin
        <small>Management panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<section class="content" layout:fragment="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Root admin List</h3>
                    <a th:href="@{/admin/roots/add}"
                       class="btn btn-primary pull-right"><i class="fa fa-plus"></i> add New</a>
                </div>
                <div class="box-body">
                    <table id="root" class="table table-bordered table-hover" dt:table="true">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Root name</th>
                            <th>Root Password</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="root : ${roots}">
                            <td th:text="${root.id}"></td>
                            <td th:text="${root.rootName}"></td>
                            <td th:text="${root.rootPassword}"></td>
                            <td>
                                <a th:href="@{/admin/root/delete/}+${root.id}" class="btn btn-danger" id="delete"><i
                                        class="fa fa-trash"></i> Delete</a>
                                <a th:href="@{/admin/root/update/}+${root.id}" class="btn btn-info"><i
                                        class="fa fa-gear"></i> Edit</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>

<script layout:fragment="myScript">
    $(function () {
        $('table').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })
</script>
</body>
</html>