<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<aside class="main-sidebar" th:fragment="sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img th:src="@{/dist/img/user7-128x128.jpg}" class="img-circle" alt="User Image"/>
            </div>
            <div class="pull-left info">
                <p th:text="${#httpServletRequest.remoteUser}"></p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..."/>
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        
        <!-- /.search form -->


			



        <ul class="sidebar-menu" data-widget="tree" id="user">
        
        
        
            <li class="header">MAIN NAVIGATION</li>
            
            
           
            
            <li>
               <a  th:href="@{/admin/}">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
               
               
            </li>
    		
			
   			<li> 
   			 	
                <a th:if="${#httpServletRequest.isUserInRole('ROOT')}" th:href="@{/admin/roots}">
                    <i class="fa fa-users"></i> <span>Manage Root</span>
                </a>
                
                <a th:unless="${#httpServletRequest.isUserInRole('ROOT')}" class="hide">
                	 <i class="fa fa-users"></i> <span>Manage Root</span>
                </a>
                
            </li>
					
            <li >
                <a th:if="${#httpServletRequest.isUserInRole('ROOT')}"  th:href="@{/customers}">
                    <i class="fa fa-users"></i> <span>Manage Customers</span>
                </a>
                
                <a th:unless="${#httpServletRequest.isUserInRole('ROOT')}"  class="hide">
                    <i class="fa fa-users"></i> <span>Manage Customers</span>
                </a>
                
            </li>
         
            
            <li>
                <a  th:href="@{/admin/bookings}">
                    <i class="fa fa-book"></i> <span>Manage Booking</span>
                </a>
            </li>
            					
            
            
            <!-- 
            	<div th:switch="${#httpServletRequest.remoteUser}.getRole()"> 
  				<p th:case="'ADMIN'">User is an administrator</p>
  				<p th:case="#{Role.USER}">User is a manager</p>
  				<p th:case="*">User is some other thing</p> 
				</div>
            
             -->
            <li >
                <a  th:if="${#httpServletRequest.isUserInRole('STAFF')}"  class="hide">
                	<i class="fa fa-road"></i> <span>Manage Trips</span>
                </a>
                <a th:unless="${#httpServletRequest.isUserInRole('STAFF')}" th:href="@{/admin/trips}">
                    <i class="fa fa-road"></i> <span>Manage Trips</span>
                </a>
            </li>
            
            <!-- 
            <li>
                <a  th:if="${#httpServletRequest.isUserInRole('STAFF')}"  class="hide">
                    <i class="fa fa-home"></i> <span>Manage Address</span>
                </a>
                
                <a  th:unless="${#httpServletRequest.isUserInRole('STAFF')}"   th:href="@{/admin/addresses}">
                    <i class="fa fa-home"></i> <span>Manage Address</span>
                </a>
                
            </li> -->
            
            
            <!-- class="${#httpServletRequest.remoteUser}" -->
 				           
            <li >
            
                <a th:if="${#httpServletRequest.isUserInRole('STAFF')}"  class="hide" >
                    <i class="fa fa-bus"></i> <span>Manage Buses</span>
                </a>
              
              <a th:unless="${#httpServletRequest.isUserInRole('STAFF')}"  th:href="@{/admin/buses}">
                    <i class="fa fa-bus"></i> <span>Manage Buses</span>
                </a>
              
            </li>
            
           <!--  
            <li>
                
                <a th:if="${#httpServletRequest.isUserInRole('STAFF')}"  class="hide" >
                	<i class="fa fa-road"></i> <span>Manage Bus Types</span>
                </a>
                	
                <a  th:unless="${#httpServletRequest.isUserInRole('STAFF')}"  th:href="@{/admin/bustypes}">
                    <i class="fa fa-road"></i> <span>Manage Bus Types</span>
                </a>
            </li> -->
            
            <!-- 
            <li>
            	<a th:if="${#httpServletRequest.isUserInRole('STAFF')}"  class="hide" >
            	<i class="fa fa-road"></i> <span>Manage Cities</span>
                </a>
            
                <a th:unless="${#httpServletRequest.isUserInRole('STAFF')}" th:href="@{/admin/cities}">
                    <i class="fa fa-building"></i> <span>Manage Cities</span>
                </a>
            </li>
             -->
          <!--   
            <li>
                
                <a th:if="${#httpServletRequest.isUserInRole('STAFF')}"  class="hide" >
                	<i class="fa fa-cutlery"></i> <span>Manage Services</span>
                </a>
                <a th:unless="${#httpServletRequest.isUserInRole('STAFF')}" th:href="@{/admin/services}">
                    <i class="fa fa-cutlery"></i> <span>Manage Services</span>
                </a>
            </li> -->
            
            
            <li>
            	<a th:if="${#httpServletRequest.isUserInRole('STAFF')}"  class="hide" >	
            		<i class="fa fa-road"></i> <span>Manage Stations</span>
                </a>
            
                <a th:unless="${#httpServletRequest.isUserInRole('STAFF')}" th:href="@{/admin/stations}">
                    <i class="fa fa-wrench"></i> <span>Manage Stations</span>
                </a>
            </li>
            <li>
            	<a th:if="${#httpServletRequest.isUserInRole('STAFF')}"  class="hide" >
            		<i class="fa fa-road"></i> <span>Manage Users</span>
                </a>
            
                <a th:unless="${#httpServletRequest.isUserInRole('STAFF')}" th:href="@{/admin/users}">
                    <i class="fa fa-road"></i> <span>Manage Users</span>
                </a>
            </li>

            <li>
            	<a th:if="${#httpServletRequest.isUserInRole('STAFF')}"  class="hide" >
            		<i class="fa fa-road"></i> <span>Manage Drivers</span>
                </a>
            
                <a th:unless="${#httpServletRequest.isUserInRole('STAFF')}" th:href="@{/admin/drivers}">
                    <i class="fa fa-road"></i> <span>Manage Drivers</span>
                </a>
            </li>

        </ul>
    </section>
</aside>
</html>