<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="master"
	xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
<meta charset=" UTF-8"></meta>
<title>Customer</title>
</head>
<body>

	<section class="content-header" layout:fragment="header">
		<h1>
			Bus <small>Management panel</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">Dashboard</li>
		</ol>
	</section>

	<section class="content" layout:fragment="content">
		<div class="row">
			<div class="col-xs-6">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Bus List</h3>
						<!-- <a  class="btn btn-primary pull-right"><i class="fa fa-plus"></i> add New</a> -->
						<!-- Trigger the modal with a button -->
						<button type="button" class="btn btn-info btn-lg"
							data-toggle="modal" data-target="#myModal">Add New</button>

						<!-- Modal -->
						<div id="myModal" class="modal fade" role="dialog">
							<div class="modal-dialog">

								<!-- Modal content-->
								<div class="modal-content">
									<form role="form" th:action="@{/bus/add}" th:object="${bus}"
										method="post">
										<div class="box-body">
											<div class="form-group">
												<label for="exampleInputEmail1">Bus Number</label> <input
													type="text" class="form-control" id="exampleInputEmail1"
													placeholder="Enter Bus Number" th:field="*{busNumber}" />
												<label th:errors="*{busNumber}" class="text-danger"></label>
											</div>
											<div class="form-group">
												<label for="exampleInputEmail1">Bus Code</label> <input
													type="text" class="form-control" id="exampleInputEmail1"
													placeholder="Enter Bus Code" th:field="*{busCode}" /> <label
													th:errors="*{busCode}" class="text-danger"></label>
											</div>
											<div class="form-group">
												<label for="exampleInputEmail1">Bus Company</label> <input
													type="text" class="form-control" id="exampleInputEmail1"
													placeholder="Enter Bus Company" th:field="*{busCompany}" />
												<label th:errors="*{busCompany}" class="text-danger"></label>
											</div>
											<div class="form-group">

												<label for="exampleInputEmail1">Maximum Seats</label> <input
													type="text" class="form-control" id="exampleInputEmail1"
													placeholder="Enter Max Seats" th:field="*{maxSeats}" /> <label
													th:errors="*{maxSeats}" class="text-danger"></label>
											</div>
											<div class="form-group">
												<label for="exampleInputEmail1">Taken Seats</label> <input
													type="text" class="form-control" id="exampleInputEmail1"
													placeholder="Enter Taken Seats" th:field="*{takenSeats}" />
												<label th:errors="*{takenSeats}" class="text-danger"></label>
											</div>
											<select class="form-control" th:field="*{busType}">
												<option value="">Select BusType</option>
												<option th:each="bustype : ${bustypes}"
													th:value="${bustype.id}" th:text="${bustype.type}"></option>
											</select>
										</div>
										<!-- /.box-body -->

										<div class="box-footer">
											<button type="submit" class="btn btn-primary">Submit</button>
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>
					<div class="box-body">
						<table id="customer" class="table table-bordered table-hover"
							dt:table="true">
							<thead>
								<tr>
									<th>Bus Number</th>
									<th>Bus Code</th>
									<th>Bus Company</th>
									<th>Maximum Seats</th>
									<th>Taken Seats</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="bus : ${buses}">
									<td th:text="${bus.busNumber}"></td>
									<td th:text="${bus.busCode}"></td>
									<td th:text="${bus.busCompany}"></td>
									<td th:text="${bus.maxSeats}"></td>
									<td th:text="${bus.takenSeats}"></td>
									<td><a th:href="@{/bus/delete/}+${bus.id}"
										class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
										<a th:href="${'/bus/update/'+bus.id}" class="btn btn-info"><i
											class="fa fa-trash"></i> Edit</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Bus Type</h3>
						<!-- Trigger the modal with a button -->
						<button type="button" class="btn btn-info btn-lg"
							data-toggle="modal" data-target="#myModal">Add New</button>

						<!-- Modal -->
						<div id="myModal" class="modal fade" role="dialog">
							<div class="modal-dialog">

								<!-- Modal content-->
								<div class="modal-content">
									<form role="form" th:action="@{/bustype/add}"
										th:object="${busType}" method="post">
										<div class="box-body">
											<div class="form-group">
												<label for="exampleInputEmail1">Bus Type</label> <input
													type="text" class="form-control" id="exampleInputEmail1"
													placeholder="Enter Bus Type" th:field="*{type}" /> <label
													th:errors="*{type}" class="text-danger"></label>
											</div>

										</div>
										<!-- /.box-body -->

										<div class="box-footer">
											<button type="submit" class="btn btn-primary">Submit</button>
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>
					<div class="box-body">
						<table id="bustypes" class="table table-bordered table-hover"
							dt:table="true">
							<thead>
								<tr>
									<th>Bus Type</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="bustype : ${bustypes}">
									<td th:text="${bustype.type}"></td>
									<td><a th:href="@{/bustype/delete/}+${bustype.id}"
										class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
										<a th:href="${'/bustype/update/'+bustype.id}"
										class="btn btn-info"><i class="fa fa-trash"></i> Edit</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script layout:fragment="myScript">
		$(function() {
			$('#customer').DataTable({
				'paging' : true,
				'lengthChange' : true,
				'searching' : true,
				'ordering' : true,
				'info' : true,
				'autoWidth' : false
			})
		})
	</script>

</body>
</html>