<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="front-master">
<head>
<meta charset="UTF-8"/>
<title></title>
</head>
<body>
	<section class=" text-white bg-primary"  layout:fragment="content">
		<div class="container">
			<a class="navbar-link" style="color: #333 !important;font-weight:strong;"  th:href="@{/}"><i class="fa fa-home" >&nbsp;&nbsp;</i>Home</a><small> / my account</small>
		</div>
	</section>
	<section class="myaccount"   layout:fragment="contact" >
		<div class="card card-primary col-auto">
	<div class="card-header">
	<div class=" row justify-content-between">
		<label class="h2 col-lg-8 col-md-12 col-sm-12">Account Information</label>
		<a  class="col-lg-1 col-4 " th:href="@{/customerdetails/account/edit}">
						<i class="fa fa-pencil-square-o">&nbsp;</i>Edit</a>
	</div>
	</div>
	<div class="card-block">
		<div class="container">
		<div class="row justify-content-around">
			<div class="card card-default col-lg-4	col-md-12 col-sm-12">
				<div class="card-header text-center ">
					<img class="rounded-circle  img-responsive " th:src="@{/dist/img/user_image.jpg}" width="80" height="100" />
					<!-- Bind customer name -->
					<h2 ><span class="h2" th:text="${customer.firstName}"></span>&nbsp;<span class="h2" th:text=" ${customer.lastName}"></span></h2>
				</div>
				<div class="card-block">
					<h3 class="card-title border border-top-0 border-left-0 border-right-0">Contact Info</h3>
					<div ><label class="card-text"><i class="fa fa-envelope">&nbsp;&nbsp;<em th:text="${customer.email}"></em></i></label></div>
					<div ><label class="card-text"><i class="fa fa-phone">&nbsp;&nbsp;<em th:text="${customer.phone}"></em></i></label></div>	
				</div>
			</div>
			<div class="card card-default col-lg-7 col-md-12 col-sm-12">
				<div class="card-header">
					<div class=" row justify-content-between">
						<h3 class="col-lg-5 col-md-12 col-sm-12">Personal Details</h3>
					</div>
				</div>
				<div class="card-block">
					<div class="card-text"><i class="fa fa-user-circle-o ">&nbsp;&nbsp;UserName : </i><em th:text="${customer.username}"></em></div>
					<div class="card-text"><i class="fa fa-user-o ">&nbsp;&nbsp;FirstName : </i><em th:text="${customer.firstName}"></em></div>
					<div class="card-text"><i class="fa fa-user-o ">&nbsp;&nbsp;LastName : </i><em th:text="${customer.lastName}"></em></div>
					<div class="card-text"><i class="fa fa-address-card ">&nbsp;&nbsp;NRC-No : </i><em th:text="${customer.nrcNumber}"></em></div>
					<div class="card-text"><i class="fa fa-address-book ">&nbsp;&nbsp;Address  : </i><em th:text="${customer.address}"></em></div>
					<div class="card-text"><a  th:href="@{/customerdetails/account/changepassword}">Change Password</a></div>
				</div>
			</div>
		</div>
		</div>
		</div>
		</div>
	</section>
</body>
</html>