<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
		layout:decorator="front-master">
<head >
<meta charset="UTF-8"/>
<title></title>
</head>
<body>
	<section class=" text-white bg-primary"  layout:fragment="content">
		<div class="container">
			<a class="navbar-link" style="color: #333 !important;font-weight:strong;"  th:href="@{/}"><i class="fa fa-home" >&nbsp;&nbsp;</i>Home</a><small> / my account</small>
		</div>
	</section>
	<section class="myaccount" layout:fragment="contact" >
	<form id="myForm" th:object="${customer}" th:action="@{/customerdetails/account/changepassword}" autocomplete="off" method="post">
		<div class="container">
		<div class="row justify-content-around">
			<div class="card card-default col-lg-4	col-md-6 col-sm-12 col align-self-start">
				<div class="card-header">
					<h2>Change Password</h2>
				</div>
				<input type="hidden" th:field="*{username}"/>
				<input type="hidden" th:field="*{firstName}"/>
				<input type="hidden" th:field="*{lastName}"/>
				<input type="hidden" th:field="*{phone}"/>
				<input type="hidden" th:field="*{address}"/>
				<input type="hidden" th:field="*{email}"/>
				
				<div class="card-block">
					<div class="card-text form-group">
						<label for="currentPassword">Enter your current password</label>
						<div class="inner-addon right-addon">
						<i class="glyphicon fa fa-lock"></i>
						<input  type="password" name="currPassword" id="currentPassword" autofocus="autofocus" placeholder="current password" th:field="*{password}" class="form-control"  required="required"/>
						<small id="passwordMsg" th:text="${passwordMsg}" class="text-danger"> </small>
						<small th:error="*{password}" class="text-danger"></small>
						</div>
					</div>
					<div class="card-text form-group">
						<label for="newPassword">Enter your new password</label>
						<div class="inner-addon right-addon ">
						<i class="glyphicon fa fa-lock"></i>
						<input type="password" id="newPassword" class="form-control" placeholder="new password" th:field="*{tempPassword}"  required="required"/>
						</div>
						<small th:error="*{tempPassword}" class="text-danger"></small>
						<small id="n-pass"></small>
					</div>
					<div class="card-text form-group">
						<label for="confirmPassword">Enter Confirm password</label>
						<div class="inner-addon right-addon  form-group">
						<i class="glyphicon fa fa-reply"></i>
						<input type="password" id="confirmPassword" class="form-control" placeholder="confirm password" th:field="*{matchPassword}" required="required"/>
						</div>
						<small id="pass"></small>
					</div>
					<div class="card-text form-group">
						<div class="row justify-content-between">
							<a class="col-5 card-link text-primary" th:href="@{/customerdetails/account}">&DoubleLongLeftArrow;back</a>
							<input id="submit" type="submit" value="save"  class="card-link col-3 btn btn-primary"/>
						</div>
						
					</div>	
				</div>
			</div>
		</div>
		</div>
		</form>
	</section>
	<script layout:fragment="myScript">
	 	/*<![CDATA[*/
	 	if($("#passwordMsg").text()!=""){
				$('#passwordMsg').addClass('fa fa-close');
				}
    		function confirmProcess(){
  		var newPass=$('#newPassword').val();
        var confirmPass=$('#confirmPassword').val();
  		if(newPass === confirmPass ){
        	$('#pass').removeClass('text-danger fa fa-close');
            $('#pass').addClass('text-success fa fa-check-circle ').text(' Ok');
            $('#submit').removeAttr("disabled").css("cursor","pointer");
            }else{
                $('#pass').removeClass('text-success fa fa-check-circle');
            	$('#pass').addClass('text-danger fa fa-close ').text(' Please make sure your passwords match.');
            	$('#submit').attr("disabled","disabled").css("cursor","not-allowed");
                }
  			notnullProcess();
  	  	};
      	  	function notnullProcess(){
      	  	var pass=$('#newPassword').val();
      	  	 if(pass==null || pass==""){
    			 $('#pass').removeClass('text-success fa fa-check-circle text-danger fa fa-close ');
    			 $('#n-pass').addClass('text-danger fa fa-close ').text(' New password required.');
    			 $('#pass').text('');
    			 $('#submit').attr("disabled","disabled").css("cursor","not-allowed");
    			 }
    		 else if(pass.length<9){
    			 $('#pass').removeClass('text-success fa fa-check-circle text-danger fa fa-close ');
    			 $('#n-pass').addClass('text-danger fa fa-close ').text("Password's must be between 8 and more");
    			 $('#pass').text('');
    			 $('#submit').attr("disabled","disabled").css("cursor","not-allowed");
    			 }
    		 else{
    				 $('#n-pass').removeClass('text-danger fa fa-close').text('');	
    				 }
          	  	};
 	$('#confirmPassword').keyup(function(){
 		confirmProcess();
 	 	});
	 $('#newPassword').keyup(function(){
		 confirmProcess();
		 });
  		/*]]>*/
  	
	 
    </script>
</body>
</html>