<!DOCTYPE html>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      	layout:decorator="front-master" 
      	xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
    <meta charset=" UTF-8"></meta>
    <title></title>
</head>
<body>
	<div layout:fragment="content">
		
		<section>
			<div class="row">
			
			<div class="py-5 text-center"> 
				<div class="col-lg-8" id="trip-info-bar">
				
						<label class="text-center  h1"><i>LOOKING &nbsp;FOR TRIP&nbsp;</i><br/></label> </div>					
					<div class="py-5">
						<div class="container">
							<div class="row">
								<div class="col-md-12 my-4">
									<input type="text" class="form-control-lg bg-light mx-5"
										placeholder="Enter Source"/> 
										<input type="text"
										class="form-control-lg bg-light mx-5"
										placeholder="Enter destination"/>
								</div>
								<div class="col-md-12">
									<input type="text" class="form-control-lg bg-light mx-5"
										placeholder="Enter no of seats"/> 
										<input type="text"
										class="form-control-lg bg-light mx-5"
										placeholder="Enter total amount "/>
								</div>
							</div>
						</div>
					</div>				
				</div>
				<div class="box-header with-border">
					<a th:if="${#httpServletRequest.remoteUser}" 
							th:href="@{/frontendBooking/trip/1}"  																 	   
							class="btn btn-primary"> <i class="fa fa-arrow-right"></i>
								Booking
					</a> 
					
					<!-- th:href="@{/frontendBooking/customer/${#httpServletRequest.remoteUser}" -->
					<a th:unless="${#httpServletRequest.remoteUser}"
						class="btn btn-primary js-scroll-trigger"
						th:href="@{/registration}"> Booking </a>
				</div>
			</div>
		</section>
	</div> 
</body>
</html>