<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="master">
<head>
    <meta charset="UTF-8"/>
    <title>403 | Access is denied</title>
</head>
<body>
<section class="content text-center" layout:fragment="content">

    <div class="starter-template">
        <h1>403 - Access is denied</h1>
        <div th:inline="text">Hello '[[${#httpServletRequest.remoteUser}]]',
            you do not have permission to access this page.
        </div>
    </div>
</section>
</body>
</html>