<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/bus/add}" th:object="${bus}" method="post">
		BusNumber:<input th:field="*{busNumber}" type="text"/>	<br/>
		MaxSeat:<input th:field="*{maxSeats}" type="text"/>
		TakenSeat:<input th:field="*{takenSeats}" type="text"/>
		BusCode:<input th:field="*{busCode}" type="text"/>
		BusCompany:<input th:field="*{busCompany}" type="text"/>
		<input type="submit"/>
		<select th:field="*{busType}">
			<option th:each="bustype:${bustypes}" th:value="${bustype.id}" th:text="${bustype.type}"/>
		</select>
	</form>
</body>
</html>