<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Address</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="address:${addresses}">
				<td th:text="${address.addressName}"></td>
				<td><a href="#" th:href="${'/address/delete/'+address.id}">Delete</a></td>
				<td><a href="#" th:href="${'/address/update/'+address.id}">Update</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>