<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>

<title>Insert title here</title>
</head>
<body>
	<div class="span12">
		<table dt:table="true">
			<thead>
				<tr>
					<th>Bus Type</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bustype:${bustypes}">
					<td th:text="${bustype?.type}"></td>
					<td><a th:href="${'/bustype/delete/'+bustype.id}">Delete</a></td>
					<td><a th:href="${'/bustype/update/'+bustype.id}">Update</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>