<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<title>JDC - OnlineTicketBooking</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<!--Bootstrap Datepicker-->
<script
	th:src="@{/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
<!-- Custom fonts for this template -->
<link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet" type="text/css" />
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css' />
<link
	href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
	rel='stylesheet' type='text/css' />
<!-- Plugin CSS -->
<link th:href="@{/vendor/magnific-popup/magnific-popup.css}"
	rel="stylesheet" />
<!-- Custom styles for this template -->
<link th:href="@{/css/creative.css}" rel="stylesheet" />

<link rel="stylesheet" th:href="@{/vendor/iCheck/square/blue.css}" />
<link rel="stylesheet" th:href="@{/dist/css/account.css}" />

<!--  Custom CSS -->
<link rel="stylesheet" th:href="@{/dist/css/myStyle.css}" />

</head>
<body id="page-top">


	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="#page-top"><b>Online</b>TicketBooking</a>
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="#">About</a></li>
					<li class="nav-item"><a class="nav-link" href="/findTrips">Routes</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/findStation">Stations</a>
					</li>

					<li class="nav-item dropdown "><a
						th:if="${#httpServletRequest.remoteUser}" href="#"
						class="nav-link  dropdown-toggle" data-toggle="dropdown"
						role="button" id="navbarDropdownMenuLink" aria-haspopup="true"
						aria-expanded="false"> <span
							th:text="${#httpServletRequest.remoteUser}"></span>
					</a>
						<div class="dropdown-menu"
							aria-labelledby="navbarDropdownMenuLink">
							<ul>
								<li><a href="#">Action</a></li>
								<li role="separator" class="divider"><a
									th:href="@{/customerdetails/account}">My Account</a></li>
								<li>
									<form th:action="@{/logout}" method="POST">
										<input type="submit" value="Sign out" class="btn btn-primary" />
									</form>
								</li>
							</ul>
						</div> <a th:unless="${#httpServletRequest.remoteUser}"
						class="btn btn-primary js-scroll-trigger" th:href="@{/login}">
							Login </a></li>
				</ul>
			</div>
		</div>
	</nav>



	<!--Header Area and Content Area-->
	<div layout:fragment="content" />

	<!--Footer-->
	<footer class="main-footer"
		th:replace="fragments/frontfooter :: footer" />


	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<!-- Plugin JavaScript -->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
	<script th:src="@{/vendor/jquery/jquery.validate.js}"></script>
	<script th:src="@{/vendor/scrollreveal/scrollreveal.min.js}"></script>
	<script th:src="@{/vendor/magnific-popup/jquery.magnific-popup.min.js}"></script>
	<!-- Custom scripts for this template -->
	<script th:src="@{/js/creative.min.js}"></script>
	<!-- icheck -->
	<script th:src="@{/vendor/iCheck/icheck.min.js}"></script>
	<!--Sweet alert 2-->
	<script
		th:src="@{https://unpkg.com/sweetalert2@7.0.9/dist/sweetalert2.all.js}"></script>
	<!--Custom Script-->
	<script layout:fragment="myScript" />

</body>
</html>
