<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Phone Number</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="station:${stations}">
				<td th:text="${station.name}"></td>
				<td th:text="${station.phoneNumber}"></td>
				<td><a href="#" th:href="${'/station/delete/'+station.id}">Delete</a></td>
				<td><a href="#" th:href="${'/station/update/'+station.id}">Update</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>