<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<form action="#" th:action="${'/station/update/'+station.id}" th:object="${station}"
		method="post">
		Name:<input type="text" th:field="*{name}" /><br /> Phone:<input
			type="text" th:field="*{phoneNumber}" /><br /> <select
			th:field="*{address}">
			<option th:each="address:${addresses}" th:value="${address.id}"
				th:text="${address.addressName}" />
		</select> <input type="submit" />
	</form>
</body>
</html>