<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="master" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
    <meta charset=" UTF-8"></meta>
    <title>Customer</title>
</head>
<body>

<section class="content-header" layout:fragment="header">
    <h1>
       	Cities
        <small>Management panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<section class="content" layout:fragment="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Cities List</h3>
                    <a th:href="@{/admin/cities/add}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> add New</a>
                </div>
                <div class="box-body">
                    <table id="customer" class="table table-bordered table-hover" dt:table="true">
                        <thead>
                        <tr>
                            <th>City Name</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cities : ${allcities}">
                            <td th:text="${cities.name}"></td>
                                                        <td>
                                <a th:href="@{/admin/city/delete/}+${cities.id}" class="btn btn-danger"><i
                                        class="fa fa-trash"></i> Delete</a>
                                <a th:href="${'/admin/city/update/'+cities.id}" class="btn btn-info"><i
                                        class="fa fa-trash"></i> Edit</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script layout:fragment="myScript">

    $(function () {
        $('#customer').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })
</script>

</body>
</html>