<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="master" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
    <meta charset="UTF-8"></meta>
    <title>Booking</title>
</head>
<body>

<section class="content-header" layout:fragment="header">
    <h1>
        Booking
        <small>Management panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<section class="content" layout:fragment="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Booking List</h3>
                    <a th:href="@{/admin/bookings/add}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> add New</a>
                </div>
                <div class="box-body">
                    <table id="booking" class="table table-bordered table-hover" dt:table="true">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Book Date</th>
                            <th>No of Seats</th>
                            <th>Reg Code</th>
                            <th>Customer</th>
                            <th>Bus</th>
                            <th>Total Amount</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="booking : ${bookings}">
                            <td th:text="${booking.id}"></td>
                            <th th:text="${booking.bookDate}"></th>
                            <th th:text="${booking.noOfSeats}"></th>
                            <th th:text="${booking.regCode}"></th>
                            <th th:text="${booking.customer.username}"></th>
                            <th th:text="${booking.trip.tripCode}"></th>
                            <th th:text="${booking.totalAmount}"></th>
                            <td>
                                <a th:href="@{/admin/booking/delete/}+${booking.id}" class="btn btn-default"><i
                                        class="fa fa-trash"></i> Delete</a>
                                <a th:href="@{/admin/booking/update/}+${booking.id}" class="btn btn-default"><i
                                        class="fa fa-gear"></i> Edit</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script layout:fragment="myScript">

    $(function () {
        $('table').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })
</script>
</body>
</html>