<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="master">
<head>
    <meta charset="UTF-8"></meta>
    <title>Update Customer</title>
</head>
<body>
<section class="content" layout:fragment="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title pull-right">Add New Customer</h3>
                    <a th:href="@{/admin/customers}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Back</a>
                </div>
                <form th:object="${updatedCustomer}" th:action="@{/admin/customer/update/}+${id}" method="POST">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Enter first name"
                                   th:field="*{firstName}"/>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Enter last name"
                                   th:field="*{lastName}"/>
                        </div>
                        <div class="form-group">
                            <label for="userName">User Name</label>
                            <input type="text" class="form-control" id="userName" placeholder="Enter user name"
                                   th:field="*{username}"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Password </label>
                            <input type="password" class="form-control" id="password" placeholder="Enter Password "
                                   th:field="*{password}"/>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter Email"
                                   th:field="*{email}"/>
                        </div>
                        <div class="form-group">
                            <label for="phNumber">Phone Nnumber</label>
                            <input type="text" class="form-control" id="phNumber" placeholder="Enter Phone Number"
                                   th:field="*{phone}"/>
                        </div>
                        <div class="form-group">
                            <label for="nrcNumber">NRC Nnumber</label>
                            <input type="text" class="form-control" id="nrcNumber" placeholder="Enter NRC Number"
                                   th:field="*{nrcNumber}"/>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <input class="btn btn-primary" type="submit" value="Update"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>